# .gitignore
#
# Copyright 2020-2025 The MathWorks, Inc.

*.js

*.pdf
*.pptx

*.asv
*.mldatx
*.slxc

sfprj/
slprj/

.buildtool/
buildtool-results/
screenshot-test-*.png
screenshot-untitled.png
untitled.m
untitled.mdl
untitled.mlx
untitled.slx
